<template>
  <div>
    <sui-dropdown
      ref="organizations"
      v-if="type == 'multiple'"
      multiple
      v-model="content"
      :options="organizationList"
      placeholder="Selecione a organização"  
      search
      fluid
      selection
      allow-additions
      @input="handleOnSelectedOrganization"
    />
    <sui-dropdown
      ref="organizations"
      v-else
      v-model="content"
      :options="organizationList"
      placeholder="Selecione a organização"
      search
      fluid
      selection
      allow-additions
      @input="handleOnSelectedOrganization"
    />
  </div>
</template>

<script>
import api from "@/api";

export default {
  name: "DropdownOrganization",
  props: ["type"],
  data(){
    return {
      content:  [],
      organizationList: []
    }
  },
  methods: {
    handleOnSelectedOrganization(e){    
      this.$emit("onSelectedOrganizations", this.content);
    },
    reset(){ 
      this.content = null;
    }
  },
  async created(){    
    let list = await api.getOrganizations()

    for(let org of list){
      this.organizationList.push({ key: org.id, text: org.name, value: [org] })
    }
  }  
};
</script>
