<template lang="html">
  <div class="field">
    <sui-segment>
      <sui-form>
        <sui-form-field>
          <label>Organization</label>
          <DropdownOrganization 
          v-model="organization"          
          v-on:onSelectedOrganizations="organization = $event"
          />
          <sui-statistic>
            <label><sui-icon name="address card" />Code</label>
            <sui-statistic-value>
              {{ organization[0].codeOrg }}
            </sui-statistic-value>
          </sui-statistic>
        </sui-form-field>
      </sui-form>
      <sui-button primary @click="openToggleModal">Click Here</sui-button>
      <sui-button secondary content="Content as a prop" @click="openToggleModal" />
      <div is="sui-button" @click="openToggleModal">Button on a div</div>
    </sui-segment>
    <ModalExample ref="modalExampleRef" :cOrg="organization[0].codeOrg" />
  </div>
</template>
<script>
import DropdownOrganization from './generics/DropdownOrganization'
import ModalExample from './ModalExample'

export default {
  name: 'MainExample',
  components: {
    DropdownOrganization,
    ModalExample
  },
  data() {
    return {
      organization: [{
        codeOrg: "",
        id: 0,
        name: ""
      }]
    }
  },
  methods: {
    openToggleModal(){
      this.$refs.modalExampleRef.toggle()
    }
  }
}
</script>
