<template lang="html">
  <div>
    <sui-modal id="modalExample" v-model="modalExample">
      <sui-modal-header>Organização</sui-modal-header>
      <sui-modal-content image>
        <sui-image wrapped size="medium" src="https://media.wired.com/photos/5926e784af95806129f5101c/master/w_1132,c_limit/Tong_Delorean_Final_low.jpg" />
        <sui-modal-description>
          
          <p>Colocar detalhes ou forms aqui</p>
          <sui-header>{{ cOrg }}</sui-header>

          <div class="ui form">
            <div class="field">
              <input type="text" v-on:input="titleModify" />   
            </div>
            <div class="field">
              <sui-input v-model="title" v-on:title="titleModifySui" />
            </div>
            <sui-header>{{ title }}</sui-header>
          </div>
          
        </sui-modal-description>
      </sui-modal-content>
      <sui-modal-actions>
        <sui-button positive @click.native="toggle">
          OK
        </sui-button>
      </sui-modal-actions>
    </sui-modal>
  </div>
</template>

<script>
export default {
  name: 'ModalExample',
  props: ["cOrg"],
  data() {
    return { 
      modalExample: false,
      title: ""
    }
  },
  methods: {
    toggle() {
      this.modalExample = !this.modalExample;
    },
    titleModify(event){
      this.title = event.target.value;
    },
    titleModifySui(event){
      this.title = event;
    }
  },
};
</script>

<style lang="css">
</style>
